<div class="background">
  <div class="desc">
    <span class="sebal">Sebal</span> - социальная сеть,
    <br>
    <span class="desc-2">в которой вы можете обмениваться разными данными.</span>
  </div>
  <div class="panel">
    <ng-content select="app-title"></ng-content>
    <ng-content select="app-form"></ng-content>
    <ng-content select="button"></ng-content>
    <div class="errors">
      <ng-content select="[errors]"></ng-content>
    </div>
    <a class="main" routerLink="/main">FAQ Sebal</a>
  </div>
</div>

